
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MiClaro" verbose="1" >


<test name="NI" >


<!-- Datos -->

 <parameter name="email" value="scarmelendez@gmail.com"/>
 <parameter name="password" value="Eloyscar4"/>
 
<!--  Localizadores -->
<parameter name="XpathPoliticasUsoDatos" value="//android.widget.TextView[@text='Política de uso de Datos']"/>
<parameter name="XpathPoliticasBAccepta" value="//android.widget.Button[@text='Aceptar']"/>
<parameter name="XpathPoliticaBtnPermitir" value="//android.widget.Button[@text='PERMITIR']"/>

 <parameter name="xpathEmailPrinc" value="//android.widget.EditText[@text='Correo Electrónico']"/> 
 <parameter name="XpathUbicacionCombo" value="com.claro.miclaro:id/txv_country_name"></parameter>
 <parameter name="XpathUbicacionComboSeleccionaNic" value = "//android.widget.TextView[@text='Nicaragua']"/>
 <parameter name="XpathUbicacionButtonConfirmar" value="//android.widget.Button[@text='Confirmar']"/>

<classes>
	<class name="test.OnBoarding">
	 <methods>
			<include name="PoliticasAcceso"/>	 
			<include name="Ubicacion"/>
	 </methods>
	</class>
	<class name="test.Login">
		<methods>
			<include name="LoginMiClaro"/>
		</methods>
	</class>
</classes>

</test>
 
</suite>