
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MiClaro" verbose="1">


	<test name="Onboarding">
	
		<!-- parametros de inicio de sesión -->
		<groups>
			<dependencies>
				<group name="PassPolices" depends-on="Onboarding" />
				<group name="Country" depends-on="PassPolices"></group>
				<group name="PassIntro" depends-on="Country"></group>
				<group depends-on="PassIntro" name="Login"></group>
				<group depends-on="Login" name="ChatBotPayments"></group>
				<group depends-on="ChatBotPayments" name="ChatBotHelp"></group>
			</dependencies>
		</groups>


		<classes>
			<class name="test.OnBoarding">
			</class>
			<class name="test.PassPolices">
				<methods>
					<include name="SkipePolices"></include>
					<include name="AcceptaPermiso" />
					<exclude name="AceptaPoliticasdeUso"></exclude>
				</methods>
			</class>
 			<class name="test.CountrySelect"></class> 
			<class name="test.PassWelcomeIntro"></class>
			<class name="test.Login"></class>
			<class name="test.ChatBotPolicesPayments"></class> 
 			<class name="test.ChatBotPolicesHelp"></class>
		</classes>

	</test>


</suite>